header{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 padding: 20px 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
  margin-bottom: 10px;
}

header img{
 width: 130px;
}

.userBox{
  display: flex;
}

.userBox p{
  margin-right: 30px;
}